<!DOCTYPE html>
<html>
<head>
<meta charset="BIG5">
<title>Insert title here</title>
<link rel="stylesheet" href="css/st1.css">
</head>
<body>
	<div id="header"></div>
	<div id="navigater"></div>

	<div id="content">
	<form action="/add" method="post">
	<table width=400 align=center border=1>
		<tr>
			<td colspan=2 align=center>
				會員基本資料
		<tr>
			<td>會員編號
			<td><input type="text" name="memberno">
		<tr>
			<td>姓名
			<td><input type="text" name="name">
		<tr>
			<td>帳號
			<td><input type="text" name="username">
		<tr>
			<td>密碼
			<td><input type="text" name="password">
		<tr>
			<td>電話
			<td><input type="text" name="phone">
		<tr>
			<td>地址
			<td><input type="text" name="address">
		<tr>
			<td colspan=2 align=center>
				<input type="submit" value="ok">
	</table>
	</form>
	
	</div>
	<div id="footer"></div>
</body>
</html>